<!DOCTYPE html>
<html lang="en">
{% include partials/head.html %}
<body class="bg-brown-soft text-true-gray-800{% if env.devMode %} debug-screens{% endif %}" data-scroll-container>
  {{ content | safe }}
</body>
</html>
