<section class="bg-yellow-gray">
  <div class="flex flex-col max-w-md min-h-screen p-4 mx-auto">
    <h2 class="text-4xl">
      Connect
    </h2>
    <img class="my-4" src="../../img/contact.jpg" alt="Dominic walking - only his legs are visible. Cropped, dark gray jeans. Brown leather brogue shoes.">
    <div class="flex flex-col space-y-2">
      <a class="ml-auto text-4xl transition duration-300 hover:opacity-60" href="mailto:contactdomferris@gmail.com">
        Email
      </a>
  
      <a class="ml-auto text-4xl transition duration-300 hover:opacity-60" href="https://github.com/domferris" target="_blank">
        GitHub
      </a>
      
      <a class="ml-auto text-4xl transition duration-300 hover:opacity-60" href="https://www.linkedin.com/in/domferris/" target="_blank">
        LinkedIn
      </a>
  
      <a class="ml-auto text-4xl transition duration-300 hover:opacity-60" href="https://www.instagram.com/domferris/" target="_blank">
        Instagram
      </a>
  
      <a class="ml-auto text-4xl transition duration-300 hover:opacity-60" href="https://twitter.com/domferris" target="_blank">
        Twitter
      </a>
  
      <a class="ml-auto text-4xl transition duration-300 hover:opacity-60" href="/blog">
        Blog
      </a>
    </div>
    <div class="flex items-end justify-center flex-grow">
      <p class="text-center">Thanks for visiting<br>☺</p>
    </div>
  </div>
</section>