<section class="bg-soft-olive">
  <div class="flex flex-col max-w-md min-h-screen p-4 mx-auto md:p-8 md:max-w-4xl lg:max-w-7xl lg:p-16">
    <h2 class="text-4xl md:text-6xl lg:text-7xl xl:text-8xl">
      Other reasons:
    </h2>
    <div class="flex flex-col justify-center flex-grow space-y-2">
      <a class="items-end inline mr-auto text-4xl transition duration-300 md:mr-0 md:flex md:justify-between lg:text-5xl hover:opacity-60" href="/projects/reele">
        Reele<span class="hidden text-base lg:text-lg md:inline"> Web application</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 md:mr-0 md:flex md:justify-between lg:text-5xl hover:opacity-60" href="https://spicygreenbook.org" target="_blank">
        <span>S<span class="hidden sm:inline">picy </span>G<span class="hidden sm:inline">reen </span>B<span class="hidden sm:inline">ook</span></span><span class="hidden text-base lg:text-lg md:inline"> Web application</span>
      </a>
        
      <a class="items-end inline mr-auto text-4xl transition duration-300 md:mr-0 md:flex md:justify-between lg:text-5xl hover:opacity-60" href="/projects/marches">
        Marches<span class="hidden text-base lg:text-lg md:inline"> Photo series</span>
      </a>

      <a class="items-end inline mr-auto text-4xl transition duration-300 md:mr-0 md:flex md:justify-between lg:text-5xl hover:opacity-60" href="https://vimeo.com/253403820" target="_blank">
        Directing<span class="hidden text-base lg:text-lg md:inline"> Video reel</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 md:mr-0 md:flex md:justify-between lg:text-5xl hover:opacity-60" href="/projects/portraiture">
        Portraiture<span class="hidden text-base lg:text-lg md:inline"> Photo series</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 md:mr-0 md:flex md:justify-between lg:text-5xl hover:opacity-60" href="https://vimeo.com/304107088" target="_blank">
        Corduroy Velvet<span class="hidden text-base lg:text-lg md:inline"> Short film</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 md:mr-0 md:flex md:justify-between lg:text-5xl hover:opacity-60" href="https://vimeo.com/287382648" target="_blank">
        Power Through<span class="hidden text-base lg:text-lg md:inline"> Spec commercial</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 md:mr-0 md:flex md:justify-between lg:text-5xl hover:opacity-60" href="https://www.youtube.com/watch?v=eA9uWxf6OcQ" target="_blank">
        Golden<span class="hidden text-base lg:text-lg md:inline"> Music video</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 md:mr-0 md:flex md:justify-between lg:text-5xl hover:opacity-60" href="/projects/post-supervision">
        Post Supervision<span class="hidden text-base lg:text-lg md:inline"> Ad collection</span>
      </a>
    </div>
  </div>
</section>