<section id="projects" data-scroll-section data-scroll data-scroll-id="projects">
  <div class="flex flex-col max-w-md min-h-screen p-4 mx-auto sm:max-w-xl md:p-8 md:max-w-4xl lg:max-w-7xl lg:p-16">
    <h2 class="text-4xl md:text-6xl lg:text-7xl xl:text-8xl">
      Other reasons:
    </h2>
    <div class="flex flex-col justify-center flex-grow space-y-2" data-scroll data-scroll-speed="0.6">
      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/reele">
        Reele<span class="hidden text-base lg:text-lg sm:inline"> Web application</span>
      </a>

      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/page-bird">
        Page Bird<span class="hidden text-base lg:text-lg sm:inline"> Web development</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/spicy-green-book">
        <span>S<span class="hidden sm:inline">picy </span>G<span class="hidden sm:inline">reen </span>B<span class="hidden sm:inline">ook</span></span><span class="hidden text-base lg:text-lg sm:inline"> Web application</span>
      </a>
        
      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/marches">
        Marches<span class="hidden text-base lg:text-lg sm:inline"> Photo series</span>
      </a>

      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/directing">
        Directing<span class="hidden text-base lg:text-lg sm:inline"> Video reel</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/portraiture">
        Portraiture<span class="hidden text-base lg:text-lg sm:inline"> Photo series</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/corduroy-velvet">
        Corduroy Velvet<span class="hidden text-base lg:text-lg sm:inline"> Short film</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/power-through">
        Power Through<span class="hidden text-base lg:text-lg sm:inline"> Spec commercial</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/golden">
        Golden<span class="hidden text-base lg:text-lg sm:inline"> Music video</span>
      </a>
  
      <a class="items-end inline mr-auto text-4xl transition duration-300 sm:mr-0 sm:flex sm:justify-between lg:text-5xl hover:opacity-60" href="/projects/post-supervision">
        Post Supervision<span class="hidden text-base lg:text-lg sm:inline"> Ad collection</span>
      </a>
    </div>
  </div>
</section>