<section class="bg-maroon-soft" data-scroll-section>
  <div class="flex flex-col max-w-md min-h-screen p-4 mx-auto sm:max-w-xl lg:max-w-7xl lg:p-16 md:p-8 md:max-w-4xl">
    <h2 class="text-4xl md:text-6xl lg:text-7xl xl:text-8xl">  
      <span class="flex justify-between"><span>Why</span><span>you</span><span>want</span></span>
      
      <span class="flex justify-between"><span>to</span><span>work</span><span>with</span></span>
      
      <span class="flex justify-between"><span>me</span><span>:</span></span>
    </h2>
    <div class="flex flex-col justify-center flex-grow mt-4 space-y-8 md:space-y-10 xl:px-32 md:px-12 sm:px-10 lg:px-24" data-scroll data-scroll-speed="0.75">
      <h3 class="ml-8 text-4xl xl:ml-36 sm:ml-12 md:ml-16 lg:ml-24 md:text-6xl xl:text-7xl">
        <span class="bg-soft-beige">Curious</span>
      </h3>
      <h3 class="ml-auto text-4xl md:text-6xl xl:text-7xl">
        <span class="bg-medium-maroon">Meticulous</span>
      </h3>
      <h3 class="text-4xl leading-tight md:leading-snug xl:leading-normal md:text-6xl xl:text-7xl">
        Outside<br><span class="bg-soft-gray">of the box</span>
      </h3>
      <h3 class="mx-auto text-4xl md:text-6xl xl:text-7xl">
        <span class="bg-medium-olive">Quietly loud</span>
      </h3>
    </div>  
  </div>
</section>