@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styles/base.pcss";
@import "./styles/utilities.pcss";
@import "./styles/locomotive-scroll.pcss";
@import "./styles/animations.pcss";
