@import "tailwindcss/base";
@import "./styles/base.pcss";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import "./styles/utilities.pcss";

@import "./styles/locomotive-scroll.pcss";
