@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

html {
  font-family: 'Manrope', sans-serif;
}

body {
  transition: background-color 5s cubic-bezier(.24,.95,.44,1);
}