.strikethrough {
  text-decoration: line-through;
}

.bg-beige-soft {
  background-color: #C7C7BE;
}

.bg-brown-soft {
  background-color: #C9C0B5;
}

.bg-gray-soft {
  background-color: #C4C4C4;
}

.bg-yellow-gray {
  background-color: #C0C0BC;
}

.bg-maroon-medium {
  background-color: #9D8F8F;
}

.bg-maroon-soft {
  background-color: #B8AFAF;
}

.bg-olive-medium {
  background-color: #AFB2A3;
}

.bg-olive-soft {
  background-color: #C1C2B1;
}
