.bg-beige-soft {
  background-color: #C7C7BE;
}

.bg-brown-soft {
  background-color: #C9C0B5;
}

.bg-gray-soft {
  background-color: #C4C4C4;
}

.bg-maroon-medium {
  background-color: #9D8F8F;
}

.bg-olive-medium {
  background-color: #AFB2A3;
}

.bg-project {
  background-color: #E0E0E0;
}

.max-h-92 {
  max-height: 92vh;
}

.strikethrough {
  text-decoration: line-through;
}
